In [1]:
import pandas as pd

df = pd.DataFrame({'mileage':[19,19,20,20,20,21,21,21,
                              22,23,24,25,25,27,28,32,33,34,35]})
df

    mileage
0        19
1        19
2        20
3        20
4        20
5        21
6        21
7        21
8        22
9        23
10       24
11       25
12       25
13       27
14       28
15       32
16       33
17       34
18       35

In [2]:
def mean_absolute_deviation(a):
    
    sum_of_observation = 0
    for i in a['mileage']:
        sum_of_observation += i
    mean = sum_of_observation/len(a['mileage'])
    
    deviation = list()
    for i in a['mileage']:
        v = i-mean
        deviation.append(abs(v))
        
    
    sum_of_deviation = 0
    for i in deviation:
        sum_of_deviation += i
        
    n = len(a)
    
    #formula for mean_absolute_deviation
    mad = 1/n*(sum_of_deviation)
    return f'Mean Absolute Deviation of mileage data is : {mad}'
        
        
        
mean_absolute_deviation(df)

'Mean Absolute Deviation of mileage data is : 4.371191135734071'